/*
Next Objective::
1. Make column types stack under the flex-title
2. Make each column type clickable
3. Create different buttons for different properties
*/

*{
  margin: 0;
  padding: 0;
  font-family: 'Raleway',sans-serif;
}

h1{
  font-family: 'Covered By Your Grace', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

/*Main styling */
main{
  width: 95vw;
  margin: 0 auto;
}

/*Container section styling */
.container{
  background-color: grey;;
  display: flex;
  min-height: 400px;
  justify-content: center;
  column-gap: 5px;
  margin: 0 auto;
  padding: 2%;
}


/* Visual container styling */
.visual{
 background-color: rgb(68, 126, 174);
 border: 2px solid black;
 border-radius: 5px;
 display: flex;
 width: 65vw;
}

.box{
  border-radius: 5px;
  height: 100px;
  width: 100px;
}

.box p{
  font-size: 20px;
  font-weight: bold;
  position: relative;
  text-align: center;
  top: 40%;
}
.one{
  background-color: #ffecc0;
}

.two{
  background-color: #ec7906;
}

.three{
  background-color: rgb(223, 108, 55);
  justify-self: flex-end;
}

/* Code container Styling*/
.objective{
  font-weight: 600;
  text-align: center;
}

.code-section{
  background-color: aliceblue;
  border-radius: 5px;
  padding: 1%;
  width: 30vw;
}

code{
  background-color: lightgrey;
  display: block;
  margin: 5% 1.5%;
  line-height: 1.5;
}

#displayFlexBtn{
  background-color:#f87c00;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
}

/* Styling */
.flex-style{
  display: flex;
  justify-content: center;
  align-items: center;
}

.inline{
  margin-left: 20px;
}

.important{
  font-weight: bold;
}
/*Major Components */
input[type="button"]:hover{
  cursor: pointer;
}