*{
  margin: 0;
  padding: 0;
  font-family: 'Raleway',sans-serif;
}

h1{
  font-family: 'Covered By Your Grace', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

/*Main styling */
main{
  width: 95vw;
  margin: 0 auto;
}

/*Main section styling */
.flex-type{
  background-color: grey;;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 2%;
}

/* Visual container styling */
.visual{
 background-color: rgb(68, 126, 174);
 border: 2px solid black;
 border-radius: 2px;
 width: 65vw;
}

.box{
  width: 130px;
  height: 130px;
  border-radius: 5px;
}

.box p{
  font-size: 20px;
  font-weight: bold;
  position: relative;
  text-align: center;
  top: 40%;
}
.one{
  background-color: #ffecc0;
}

.two{
  background-color: #f87c00;
}

.three{
  background-color: #f64300;
}

/* Code container Styling*/
.code-section{
  background-color: aliceblue;
  margin: 10px;
  width: 30vw;
}

code{
  display: block;
  background-color: lightgrey;
}

#displayFlexBtn{
  padding: 4px 5px;
}

/* Styling */
.flex{
  display: flex;
}
