<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<img src="" alt="logo">
			<p>Join Extra Crunch</p>
			<a href="#">Login</a>
			<nav>
				<ul>
					<li><a href="#">Nav Item</a></li>
					<li><a href="#">Nav Item</a></li>
					<li><a href="#">Nav Item</a></li>
					<li><a href="#">Nav Item</a></li>
					<li><a href="#">Nav Item</a></li>
					<li><a href="#">Nav Item</a></li>
					<li><a href="#">Nav Item</a></li>
					<li><a href="#">Nav Item</a></li>
					<li><a href="#">Nav Item</a></li>
					<span>-</span>
					<li><a href="#">Nav Item</a></li>
				</ul>
			</nav>
		</header>
		<div>
			<main>
				<section>
					<p>Extra Crunch</p>
					<h1>What China's fintech market can teach the world</h1>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat harum accusamus quaerat praesentium? Repellendus possimus nulla asperiores assumenda magnam, nisi accusamus sunt maiores id officia?</p>
					<p>Danny Crichton</p>
					<img src="main-photo.png" alt="Main photo">
				</section>
				<section>
					<section>
						<h2>Instagram revampts its mobile messaging app Threads</h2>
						<p>Brian Heater</p>
					</section>
					<section>
						<h2>Instagram revampts its mobile messaging app Threads</h2>
						<p>Brian Heater</p>
					</section>
					<section>
						<h2>Instagram revampts its mobile messaging app Threads</h2>
						<p>Brian Heater</p>
					</section>
					<section>
						<h2>Instagram revampts its mobile messaging app Threads</h2>
						<p>Brian Heater</p>
					</section>
				</section>
			</main>
			<section>
				<h2>The Latest</h2>
				<section>
					<h3>'Wonder woman 1984' is coming to HBO Max</h3>
					<p>Anthony Ha</p>
					<p>9:15 AM PST, November 19, 2020</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi nam accusantium consequuntur possimus corporis cupiditate aut laboriosam quos rerum, repellat ipsa hic itaque, amet corrupti! Sed explicabo molestias natus dicta!</p>
				</section>	
				<aside><img src="main-photo.png" alt="ad"></aside>
			</section>
		</div>
	</body>
</html>
