body {
  width: 50vw;
  margin: 40px auto;
  background-color: skyblue;
  color: white;
  border: 5px solid green; 
  padding: 40px;
  height: max-content;
}

header {
  text-align: center;
}

h1 {
  font-style: italic;
  font-weight: 500;
}

ul {
    text-align: center;
}

ul li {
  list-style-type: none;
  font-weight: bold;
  display: inline-block;
  font-family: sans-serif;
  
}

li a {
  text-decoration: none;
  color: green;
}

span {
  color: gray;
  font-weight: bolder;
}

h2 {
  font-family: sans-serif;
}

img {
    max-height: 250px;
    float: right;
}

footer ul {
    margin-top: 40px;
    margin-bottom: 0;
}
