<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Your description goes here" />
    <meta name="keywords" content="one, two, three" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Blank Template</title>

    <!-- external CSS link -->
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <header>
      <nav>
		<ul>
			<li><a href="#">Classes</a></li>
			<li><a href="#">Hire Us</a></li>
		</ul>
		<img src="" alt="logo">
		<button>Donate</button>
	  </nav>
	  <div>
		<h1>Where Grit Meets Opportunity</h1>
		<p>
		  At Level Ground(LG), urban youth cultivate grit and resilience through
		  Mixed Martial Arts. They learn to apply these values 'off the mat' in
		  the pursuit of their ambitions through our Student Trainer Certification
		  and College Access programs.
		</p>
		<a href="#">Watch the Video</a>
	  </div>
    </header>
	<main>
	<h2>Why</h2>
	<p>
		Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
		vestibulum. Donec ullamcorper nulla non metus auccor Trincilla. Lorem
		losum aolor Sit amer, conseccerun adibiscing elit. Duis mollis, est
		non commodo luctus. nisi erat portitor ligula, eget lacinia odio sem
		nec elit.
	</p>
	</main>
	<section>
		<section>
			<img src="placeholder.png" alt="blank placeholder" />
			<h3>Visit the Gym</h3>
			<p>
			Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non
			commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem
			nec elit. Sed posuere consectetur est at lobortis. Morbi leo risus,
			porta ac consectetur advestibulum at eros
			</p>
			<button>See Classes</button>
		</section>
		<section>
			<img src="placeholder.png" alt="blank placeholder" />
			<h3>Have Us Visit You</h3>
			<p>
			Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non
			commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem
			nec elit. Sed posuere consectetur est at lobortis. Morbi leo risus,
			porta ac consectetur advestibulum at eros
			</p>
			<button>Hire Us</button>
		</section>
	</section>
	<section>
		<h2>Volunteer With Level Ground</h2>
		<p>
			Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non
			commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem
			nec elit. Sed posuere consectetur est at lobortis. Morbi leo risus,
			porta ac consectetur advestibulum at eros
		</p>
		<button>Volunteer</button>
	</section>
	<footer></footer>
  </body>
</html>
