<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>BBC</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<nav>
				<img src="logo.png" alt="bbc logo">
				<a href="#">Sign In</a>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Home</a></li>
					<li><a href="#">Home</a></li>
					<li><a href="#">Home</a></li>
					<li><a href="#">Home</a></li>
					<li><a href="#">Home</a></li>
					<li><a href="#">Home</a></li>
					<li><a href="#">Home</a></li>
					<li><a href="#">Home</a></li>
				</ul>				
				<form action="#">
					<input type="text" name="Search" id="search">
				</form>
			</nav>
		</header>
		<main>
			<h2>Welcome to BBC.com</h1>
			<section>
				<h1>Israel and UAE strike historic peace deal</h1>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit laborum cupiditate tenetur voluptatem sapiente, nesciunt perspiciatis iusto blanditiis autem. </p>
				<p>MIDDLE EAST</p>
			</section>
			<section>
				<section>
					<h3>Lorem ipsum dolor, sit amet consectetur</h3>
					<p>CANADA</p>
				</section>
				<section>
					<h3>Lorem ipsum dolor, sit amet consectetur</h3>
					<p>CANADA</p>
				</section>
				<section>
					<h3>Lorem ipsum dolor, sit amet consectetur</h3>
					<p>CANADA</p>
				</section>
				<section>
					<h3>Lorem ipsum dolor, sit amet consectetur</h3>
					<p>CANADA</p>
				</section>
			</section>
		</main>
		<section>
			<h2>News</h2>
			<section>
				<h3>Lorem ipsum dolor sit amet </h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos repellendus placeat qui molestias eligendi dolore blanditiis similique earum ipsum cum, enim iste ipsa mollitia eum temporibus, iusto deserunt optio voluptate?</p>
				<p>LOREM IPSUM</p>
			</section>
			<section>
				<h3>Lorem ipsum dolor sit amet </h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos repellendus placeat qui molestias eligendi dolore blanditiis similique earum ipsum cum, enim iste ipsa mollitia eum temporibus, iusto deserunt optio voluptate?</p>
				<p>LOREM IPSUM</p>
			</section>
			<section>
				<h3>Lorem ipsum dolor sit amet </h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos repellendus placeat qui molestias eligendi dolore blanditiis similique earum ipsum cum, enim iste ipsa mollitia eum temporibus, iusto deserunt optio voluptate?</p>
				<p>LOREM IPSUM</p>
			</section>
		</section>

	</body>
</html>
